.footer {
    background-color: $iBlack;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    transition: all .35s ease;
    width: 100%;
    bottom: 0;
    left: 0;

    p {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: $white;

        >i {
            @include fontCalcSize(20, 16);
            margin-right: 8px;
            color: $white;
            vertical-align: middle;
        }
    }
}