// Custom Variables //
$primaryFont: 'Open Sans', sans-serif;
$iconFont: 'xicons';


// Set Colors
$black: #000000;
$white: #ffffff;
$iPrimary: #0f8641;
$iSecondary: #595a63;
$iGray: #f3f3f3;
$iGray1: #d7d7d7;
$iGray2: #cacaca;
$iGray3: #959595;
$iGray4: #f9f9f9;
$iGray5: #eeeeee;
$iGray6: #ededed;
$iGray7: #f7f7f7;
$iGray8: #dcdcdc;
$iGray9: #7B7B83;
$iGray10: #C4C4C4;
$iGray11: #535257;
$iGray12: #E4E4E4;
$iGray13: #4B4B4B;
$iGray14: #DDDDDD;
$iGray15: #7C7C7C;
$iGray16: #4A4A4A;
$iGrayDark: #969696;
$iBlack: #393941;
$iBlack1: #111111;
$iYellow: #ffe13d;
$iYellowLight: #fffeea;
$iYellowLight1: #f4f1b8;
$iYellowDark: #fff600;
$iYellowDark1: #ffba00;
$iYellowDark2: #F7C92B;
$iNavy: #00366a;
$iNavyDark: #001428;
$iNavyMedium: #063655;
$iBlue: #005eb8;
$iBlue2: #0E0E0E;
$iBlueDark: #1a5a84;
$iSkyBlue: #3da0ff;
$iSkyBlue1: #015DB9;
$iSkyBlueMedium: #50afee;
$iSkyBlueMedium1: #005eb8;

$iSkyBlueLight: #b5cce2;
$iSkyBlueLight1: #eff6ff;
$iSkyBlueLight2: #D9ECFD;
$iSkyBlueLight3: #FDFDFD;
$iSkyBlueLighter: #eff7f9;
$iSkyBlueSharp: #167abb;
$iRed: #fa1339;
$iRed1: #d95141;
$iRedMedium: #be0000;
$iRedDark: #c10d2b;
$iGreen: #60ff00;
$iGreen1: #00a652;
$iGreen2:#3bb54a;
$iGreedmedium: #036a2e;
$iGreenLight: #f1fce8;
$iOrange: #f1a443;
$iOrange1: #ff7300;
$iOrange2: #fe6e3c;
$NewBlue:#005e75;
$btnSaveColor: #3bb54a;
$lightBlue: #498fe6;
$lightGrey: #f8f8f8;
$formFieldColor: #bfbfbf;
$tyellow:#fffdd0;
$tyellowDark:#615f1c;
$tyellowMedium:#ceca70;
$resumeuploadColor: #005f75;
$shortHeadColor: #5da4e8;
$commentYellow: #fffed0;
$popupCrossColor: #e24c4b;
$newlightBlue:#0090ff;
$linkedinIconColor: #0a66c2;
$iOrange:#ED3E01;
$iPurple:#2800D7; 